#title a {
  color: #69cbf0 !important;
  text-decoration: none;
    float:left;
    margin-left:50px
}

#title a:hover {
  color: #59bbe0;
}

#header {
 color: #69cbf0 !important;
  background: #fff;
 font-size: 35px;
  margin: 0px;
  text-align: center;
 padding-top: 10px;
  height: 60px;
  width: 100%;
  position: fixed;
  margin-top: -50px;
}

#headercenter {
 color: #000000;
  background: #ffffff;
 font-size: 30px;
  margin: 0px;
  text-align: center;
 padding-top: 10px;
  height: 60px;
  width: 100%;
  position: fixed;
  font-weight: bold;
}
