html {
  min-height:100%;
  position: relative;
}

img.resize{
   width:width*2;
   height:height*2;
}

.question-same-line {
  font-size: 20px;
  text-align: center;
  overflow-x: scroll;
  border: none;
}

h1 hr {
  padding-top: 0px;
  margin-top: 0px;
}

#content {
  /*height:100vh;*/
  margin: auto;
  margin-top: 52px;
  display: block;
  max-width: 70%;
  border: none;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
}

#button {
  text-align: center;
}

body {
  height: 100%;
  background: #fafafa;
  font-family:;
}

#location, #start {
  text-transform:capitalize;
  width: 400px;
  height: 50px;
  margin: 0, auto;
  border: none;
}

#clothing {
  color: green;
}

.input-align {
  text-align: center;
}

.button-align {
  text-align: center;
  margin-bottom: 10px;
}

.button-design{
  height: 32px;
  width: 120px;
  background-color: #69cbf0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-color: #69cbf0;
  border-style: solid;
  color: white;
  font-size: 15px;
}

.button-design:hover {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  background: #60b9db;
  border-style: solid;
  border-color: #60b9db;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

html, body{
  font-family: 'Source Sans Pro', sans-serif;
  padding:0;
  margin:0;
  background-image: url("background.png");
}
